<form id="book" action="/books" method="POST" style="display: none">
	<p>ISBN:</p><input type="number" id="new-ISBN" name="ISBN">
		<p id="invalid-ISBN" class="invalid"></p>
	<p>author:</p><input type="text" id="new-author" name="author">
		<p id="invalid-author" class="invalid"></p>
	<p>title:</p><input type="text" id="new-title" name="title">
		<p id="invalid-title" class="invalid"></p>
	<p>description:</p><input type="text" id="new-description" name="description">
		<p id="invelid-description" class="invalid"></p>
	<p>amount:</p><input type="number" id="new-amount" name="amount">
		<p id="invalid-amount" class="invalid"></p>
	<p>File:</p><input type="file" name="file" id="file" >
		<p id="invalid-file" class="invalid"></p>	
	<input type="submit" value="Submit">
</form>
<a href="http://localhost:3000/books" style="display: none">Books</a>

<div id="admin-menu">
<a id="admin-users" href="/admin">Users</a><br>
<a id="admin-books" href="/admin">Books</a><br>
<a id="admin-borrows" href="/admin">Borrows</a><br>
</div>

<div id="users">
	{{> users}}
</div>

<div id="books">
	{{> books}}
</div>

<div id="borrows">
	{{> borrows}}
</div>