<div id="log">
	<p id="login">Login</p>
	<form action="/login" method="post" id="loginform">
		<p>Username</p><input type="text" name="username">
		<p>Password</p><input type="password" name="password"><br>
		 <input type="submit" value="submit">
	</form>
</div>