<form id="book" action="/books" method="POST">
	<p>ISBN:</p><input type="number" id="ISBN" name="ISBN">
	<p>author:</p><input type="text" id="author" name="author">
	<p>title:</p><input type="text" id="title" name="title">
	<p>amount:</p><input type="number" id="amount" name="amount">
	<input type="submit" value="Submit">
</form>