<div id="reg">
	<p id="registration">Registration</p>
	<form action="/register" method="post" id="register">
		<p>username</p><input type="text" name="username" id="username">
			<p id="invalid-username" class="invalid"></p>
		<p>password</p><input type="password" name="password" id="ps">
			<p id="invalid-ps" class="invalid"></p>
		<input type="submit" value="submit" name="submit">
	</form>
	<p id="success" style="display: none" class="invalid"></p>
</div>